body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  color: #333;
}

.post-box {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #fff;
}

.candidate {
  padding: 6px 0;
}
